.footer__copyright {
	margin: 0;
	font-size: 14px;
	padding: 0 48px 0 0;
	line-height: 16px;
}

@media screen and (max-width:768px) {
	.footer__copyright {
		padding: 0 24px 0 0;
	}
}

@media screen and (max-width:743px) {
	.footer__copyright {
		padding-left: 16px;
	}
}