.lead__image {
	max-width: 984px;
	object-fit: cover;
	padding-top: 64px;
}


@media screen and (max-width:1024px) {
	.lead__image {
		max-width: 100%;
	}
}

@media screen and (max-width:768px) {
	.lead__image {
		padding-top: 56px;
	}
}

@media screen and (max-width: 415px) {
	.lead__image {
		padding-top: 40px;
	}
}