.cover__background {
  background: url(../../../images/cover-trains.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1184px;
	min-height: 740px;
	background-repeat: no-repeat;
	position: relative;
	color: white;
	width: 100%;
	height: 100%;
	text-decoration: none;
	z-index: 2;
}

@media screen and (max-width:1024px){
	.cover__background {
		max-width: 1024px;
		min-height: 640px;
	}
}

@media screen and (max-width:768px) {
	.cover__background {
		min-height: calc(200px + (280 + 280 * .7) * (100vw - 320px) / 768);
	}
}

@media (max-width: 500px) {
  .cover__background {
    min-height: calc(200px + (280 + 280 * .7) * (100vw - 320px) / 500);
  }
}

