.website__link {
	cursor: pointer;
	color: white;
	font-size: 18px;
	transition: opacity .7s ease;
}

.website__link:hover {
	opacity: 0.6;
}

@media screen and (max-width: 700px) {
	.website__link {
		padding-bottom: 32px;
	}
}