.header__lang-links {
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	column-gap: 18px;
	font-size: 24px;
	padding-top: 18px;
}

@media screen and (max-width:560px) {
	.header__lang-links {
		font-size: 18px;
		padding-top: 14px;
	}
}